Package: Baker
Version: 0.6.13
Section: base
Priority: optional
Architecture: amd64
Depends: virtualbox, vagrant
Maintainer: Samim Mirhosseini <samim@ottomatica.io>
Description: Baker
 🍞 Quick and easy baking of computing environments.
